/* #region Basic styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  border: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav-item {
}
.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-dark {
  color: #2e2f42;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.address-link:hover,
.nav-link:focus,
.address-link:focus {
  color: #404bbf;
}
.nav-link.active {
  color: #404bbf;
}

.nav-link.active::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

address {
  font-style: normal;
}

.address-list {
  display: flex;
}

.address-item:not(:last-child) {
  margin-right: 40px;
}
.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
}
/* #endregion */

/* #region Hero */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-button {
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;

  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Benefits */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 3 * 24px) / 4);
}

.benefits-thumb {
  display: flex;
  width: 100%;
  height: 112px;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
}

.benefits-item .item-title {
  margin-bottom: 8px;
}
/* #endregion */

/* #region Out Team */
.team {
  background-color: #f4f4fd;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  background-color: #fff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item .item-title {
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-item .description {
  padding-top: 32px;
  padding-bottom: 32px;
}

.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
}
/* #endregion */

/* #region Portfolio */

.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-item .description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item .item-title {
  margin-bottom: 8px;
}

/* #endregion */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo {
  margin-right: 0;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-light {
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  /* gap: 120px; */
  align-items: baseline;
}

.footer-wrapper {
  margin-right: 120px;
}
.footer-socials {
  gap: 16px;
}

.footer-socials-text {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-socials-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
/* #endregion */
